@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* smooth text rendering */
html { -webkit-font-smoothing: antialiased; }

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white; 
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
